@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Readex+Pro:wght@160..700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html,
body {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.header {
  position: relative;
  max-width: 100%;
  height: 100px;
}

.nav {
  position: relative;
  top: 30px;
  color: rgb(105, 105, 105);
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-option {
  display: flex;
  gap: 50px;
  transition: 0.3s ease all;
}
.nav-option a {
  text-decoration: none;
  color: rgb(45, 43, 43);
}
.nav-heading h2 {
  font-size: 3rem;
  margin-left: 100px;
  font-weight: 550;
  text-transform: uppercase;
}

.nav-option h2 {
  margin-right: 50px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.nav-option i {
  display: none;
}

.nav-option :hover {
    color: #000;
    border-bottom: 2px solid rgb(69, 69, 69);
    border-radius: 2px;
    font-weight: 600;
}
.down {
    font-size:50px ;
    margin-left: 1450px;
    margin-top: -50px;
}
.main {
  flex-wrap: wrap;
  position: relative;
  height: 650px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  line-height: 60px;
}

.box {
  background-image: url(Toji\ Fushiguro.jpeg);
  background-size: cover;
  background-position: center;
  height: 390px;
  width: 390px;
  box-shadow: 0px 0px 20px 0px black;
  transition: 0.3s;
  border-radius: 50%;
}

.box2 {
  height: 50%;
  width: 20%;
}

.box2 p {
  color: gray;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding-top: 2rem;
}
.box2 h2 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(45, 43, 43);
}

.box2 h4 {
  color: rgb(105, 105, 105);
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.box2 button {
  color: black;
  font-size: 1rem;
  padding: 15px 27px;
  text-transform: capitalize;
  position: relative;
  top: 15px;
  left: 0px;
  font-weight: 550;
  border-radius: 40px;
  margin-left: 5px;
  background-color: white;
  transition: 0.2s ease all;
  box-shadow: 0px 0px 3px 0px black;
  cursor: pointer;
}
.button :active {
  background-color: rgb(34, 34, 34);
  color: white;
  border: 1px solid white;
}
.opt-about a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 50px;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: rgb(105, 105, 105);
  transition: 0.02s linear;
}
.opt-about :hover {
  border-bottom: 2px solid rgb(50, 49, 49);
  border-radius: 1px;
}
.icon img {
  height: 35px;
  width: 35px;
  position: relative;
  top: 180px;
  left: -340px;
  margin-left: 50px;
}
#icon {
  color: black;
  font-size: 30px;
  position: relative;
  top: 160px;
  left: -240px;
  padding-left: 0px;
  border-radius: 50%;
}

#icon {
  border-radius: 50%;
}

#project {
  position: absolute;
  top: 800px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -100px;
}
.project-heading {
  position: relative;
  top: 100px;
  width: 280px;
}
#project h2 {
  position: relative;
  bottom: 370px;
  left: 650px;
  font-size: 3em;
  font-weight: 550;
  text-transform: uppercase;
  color: rgb(32, 32, 32);
}
.project-heading h5 {
  position: relative;
  bottom: 400px;
  left: 700px;
  color: gray;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.box3 {
  height: 60%;
  width: 25%;
  background-image: url(Suguru\ geto.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px;
  border-radius: 40px;
  box-shadow: 0px 0px 20px black;
  border: 1px solid white;
  position: relative;
  top: 100px;
  right: 100px;
  
  animation:appear linear ;
    animation-timeline: view();
    animation-range: entry 10% cover 40%;
}

.box4 {
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-transform: capitalize;
  position: relative;
  top: 130px;
  right: 50px;
  animation:appear linear ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.experience,
.education {
  height: 150px;
  width: 290px;
  border: 1px solid gray;
  box-shadow: 0px 0px 2px black;
  border-radius: 20px;
}
.experience p,
.education p {
  text-align: center;
  color: rgb(6, 6, 6);
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 5px;
  font-weight: 550;
}
.experience i,
.education i {
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding-top: 15px;
  color: rgb(59, 58, 58);
}

#project pre {
  text-align: center;
  padding-top: 15px;
  line-height: 22px;
  color: rgb(59, 58, 58);

  font-weight: 550;
}
.edu-p {
  width: 700px;
  position: relative;
  top: 70px;
  right: 350px;
}

#edu-para {
  display: none;
}
.edu-p p {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: rgb(59, 58, 58);
}
#experience2 {
  /* position: absolute; */
  margin-top: 200vh;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  margin-bottom: -100px;
  gap: 50px;
  /* background-color: blueviolet; */
  text-transform: capitalize;
}

.box5 {
  height: 50%;
  width: 38%;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
   position: relative;
   left: -200px;
   animation:appear linear ;
   animation-timeline: view();
   animation-range: entry 0% cover 40%;
}
.box6 {
  height: 50%;
  width: 38%;
  border: 1px solid gray;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
  position: relative;
   left: -170px;
   animation:appear linear ;
    animation-timeline: view();
    animation-range: entry 0%
    cover 40%;
}

.ex-heading {
  position: relative;
  margin-bottom: 550px;
  left: 595px;
  line-height: 50px;
  text-align: center;
}
.ex-heading h2 {
  font-size: 3em;
  color: #000;
}

.ex-heading h4 {
  color: rgb(105, 105, 105);
  font-size: 1.2em;
}
.box5-content h2 {
  text-align: center;
  position: relative;
  top: 30px;
  color: rgb(105, 105, 105);
}
.box5-lang {
  position: relative;
  top: 70px;
  text-align: center;
  width: 200px;
  line-height: 25px;
  left: 40px;
}
.box5-lang h4 {
  font-size: 1.7em;
  color: rgb(4, 4, 4);
  position: relative;
  font-weight: 550;

  /* left: 15px; */
}
.box5-lang p {
  position: relative;
  top: -40px;
  font-size: 0.74em;
  left: 0px;
}

.box5-lang img {
  position: relative;
  top: -25px;
  left: -60px;
  height: 30px;
  width: 28px;
}

.content2 {
  position: relative;
  padding-left: 250px;
  top: -265px;
}
.project {
  display: none;
  position: absolute;
  bottom: -2200px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.project-head {
  display: none;
  position: relative;
  top: -300px;
  left: 300px;
}
.project1 {
  display: none;
  position: relative;
  right: 100px;
  height: 60%;
  width: 20%;
  /* background-color: aliceblue; */
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px black;
}

.project2 {
  display: none;
  position: relative;
  right: 100px;
  height: 60%;
  width: 20%;
  box-shadow: 0px 0px 10px black;
border-radius: 30px;
  /* background-color: aliceblue; */
}

@keyframes appear {
    from {
opacity: 0;
        scale: 0.5;
    }
    to {
     opacity: 1;
    scale: 1;
    }
}